.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
Outline_Progetto.gdoc
# Ambiente virtuale
.venv/
venv/
env/

# Notebook e Python
.ipynb_checkpoints/
__pycache__/
*.py[cod]



